<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
        <script type="text/javascript" src="//use.typekit.net/bwu1cse.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

        <link rel="shortcut icon" href="{{ site.baseurl }}/images/favicon.ico">
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/stylesheets/style.css">
        <link rel="alternate" type="application/rss+xml" title="" href="{{ site.baseurl }}/feed.xml" />


</head>
<body>
	{{ content }}
	
  	<script src="//code.jquery.com/jquery.min.js"></script>
  	<script src="{{ site.baseurl }}/assets/javascripts/main.js"></script>
   	<script type="text/javascript">
      		var _gaq = _gaq || [];
      		_gaq.push(['_setAccount', '']);
      		_gaq.push(['_trackPageview']);

      		(function() {
        		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      		})();
    	</script>
</body>
</html>
